a {
    color: #0645AD;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #0b63d9;
}

.canvas {
    position: relative;
    width: 1500px;
    height: 2300px;
    background: #eee;
    border: 1px solid #ccc;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin: 0 auto;
}


.round-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column;
    max-width: 600px;
    max-height: 1000px;
    background: #d9d9d9;
    border-radius: 28px;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}


.round-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}


.round-box img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}

.round-box-caption {
    margin-top: 6px;
    font-size: 20px;
    color: black;
    text-align: left;
    /* 如果你想左对齐告诉我 */
}

.modal2 {
    position: fixed;
    left: 0;
    width: 100vw;
    height: calc(100vh - 72px);
    top: 72px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 9999;
}

.modal2.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90vw;
    height: calc(100vh - 72px);
    gap: 20px;
    transform: scale(0.95) translateY(20px);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    align-items: center;
    justify-content: center;
}

.modal2.show .modal-content {
    transform: scale(1) translateY(0);
    opacity: 1;
}


.modal-box {
    background: transparent;
    flex-direction: column;
    border-radius: 28px;
    padding: 20px;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-box-1 {
    background: transparent;
    border-radius: 28px;
    padding: 20px;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalImageDesc {
    max-height: 100px;
    margin-top: 10px;
    color: #333;
    text-align: left;
    width: 100%;
    background: #f0f0f0;
    border-radius: 16px;
    padding: 2px;
    font-size: 15px;
    line-height: 1.6;
    font-family: "Times New Roman", Times, serif;
    overflow: auto;
}

.modal-box img {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
    display: block;
}

.right-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    align-items: stretch;
}


.text-section {
    background: #f0f0f0;
    border-radius: 16px;
    padding: 16px;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    font-family: "Times New Roman", Times, serif;
    overflow: visible;
}


.code-section {
    background: #f5f5f5;
    border-radius: 16px;
    font-size: 12px;
    height: 500px;
    overflow: auto;
}

.code-section pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    tab-size: 4;
}


.close-btn {
    position: fixed;
    top: 0px;
    right: 40px;
    font-size: 40px;
    cursor: pointer;
    color: #333;
    user-select: none;
    transition: transform 0.2s ease;
}

.close-btn:hover {
    transform: scale(1.2);
}

.sidebar {
    position: absolute;
    right: 90px;
    top: 160px;
    width: 150px;
    background: #f0f0f0;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.sidebar:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}


.sidebar img {
    width: 123px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-left: -6px;
}


.sidebar-name {
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0;
}

.sidebar-text {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.4;
}


.sidebar a {
    color: #0645AD;
    text-decoration: none;
    font-size: 14px;
}

.sidebar a:hover {
    color: #0b63d9;
}

@media (max-width: 800px) {
    .modal-content {
        flex-direction: column;
        height: calc(100vh - 72px);
    }

    .modal-box {
        width: 100vw;
        height: calc(100vh - 72px);
    }
}


.photo-scroller {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.photo-track {
    display: flex;
    width: max-content;
    animation: scrollPhotos 30s linear infinite;
}

.photo-track img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.photo-track img:hover {
    transform: scale(1.05);
}

.photo-scroller:hover .photo-track {
    animation-play-state: paused;
}

@keyframes scrollPhotos {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


.mb-3 {
    position: relative;
}

.carousel {
    position: unset;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3e%3cpath d='M11 1L3 8l8 7'/%3e%3c/svg%3e") !important;
}

/* 右箭头（黑色） */
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3e%3cpath d='M5 1l8 7-8 7'/%3e%3c/svg%3e") !important;
}

/* 固定箭头大小 */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px !important;
    height: 40px !important;
    background-size: 100% !important;
    /* 保证图标填充 */
}

/* 固定在左右居中位置 */
.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    /* 垂直居中 */
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
}

/* 防止图片影响箭头按钮大小 */
.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.img-wrapper {
    position: relative;
    display: inline-block;
}

.img-wrapper img {
    width: 100%;
    transition: transform 0.3s, filter 0.3s;
}

/* Hover 图片效果 */
.img-wrapper:hover img {
    transform: scale(1.03);
    filter: brightness(1.1);
}

/* 提示框 */
.hover-tooltip {
    position: absolute;
    bottom: 110%;
    /* 在图片上方 */
    left: 50%;
    transform: translateX(-50%);
    width: 500px;

    background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 12px 16px;
    border-radius: 8px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 20;
}

/* 显示 tooltip */
.img-wrapper:hover .hover-tooltip {
    opacity: 1;
}

/* 小箭头 */
.hover-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.85);
}

.canvas-grid {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 80px;
}

.canvas-col {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: auto;
    height: auto;
    flex: 1 0 auto;
}


.round-box-caption {
    margin-top: 6px;
    text-align: left;
    font-size: 18px;
}